$direction: 'right';

.snackbar {
  visibility: hidden;
  // min-width: 100px;
  // max-width: 200px;
  width: 150px;
  // margin-left: -125px;
  background-color: #D32F2E; 
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 103%;
  // top: 5%;
  font-family: 'gotham';
  font-size: 11px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
.snackbar.green {
  visibility: hidden;
  // min-width: 100px;
  // max-width: 200px;
  width: 150px;
  // margin-left: -125px;
  background-color: #43A047;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 103%;
  // top: 5%;
  font-family: 'gotham';
  font-size: 11px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {$direction: 0; opacity: 0;} 
  to {$direction: 30px; opacity: 1;}
}

@keyframes fadein {
  from {$direction: 0; opacity: 0;}
  to {$direction: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {$direction: 30px; opacity: 1;} 
  to {$direction: 0; opacity: 0;}
}

@keyframes fadeout {
  from {$direction: 30px; opacity: 1;}
  to {$direction: 0; opacity: 0;}
}