
// @import "./../../global-styles/container";
// @import "./../../global-styles/card";
// @import "./../../global-styles/img";


$fc: rgb(29, 29, 29);
$card-font: montserrat;

$card-width-mobile: 240px;
$card-height-mobile: 450px;

$card-width-small: 340px;
$card-height-small: 400px;

$card-width-medium: 600px;
$card-height-medium: 345px;

$card-width-wide: 700px;
$card-height-wide: 500px;

$breakpoint-iphonex: 375px;

.charities-container {
//   text-align: center;
  // display: flex;
  // flex-flow: column;
  // align-items: center;
  // position: relative; 
  width: 100%;
  margin-bottom: 50px;
  margin-top: -65px;
  @media (max-width: $breakpoint-iphonex){
    // position: absolute;
    // top: 50px; 
      // padding-right: 0px;
      // padding-left: 0px;
      // margin-top: 60%;
  }
  
}
 
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  margin-top: 90px;
  // overflow: hidden;
  transition: transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  Button{
    visibility: hidden;
  }
  .card {
    flex: 1;
    min-width: 200px; 
    height: 350px;
    opacity: 0.0;
    transform: scale(0.8);
    border-radius: 10px;
    box-shadow: 10px 10px 93px 0px rgba(19, 19, 19, 0.75); 
    background-color: rgb(226, 226, 226);
    // border-color: rgb(113, 126, 0);
    color: $fc;
    font-family: $card-font;
    transition: opacity 400ms linear, border-color 400ms linear, background-color 400ms linear,transform 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    @media (max-width: $breakpoint-iphonex){
        // margin-top: 100px;
        width: $card-width-mobile;
        min-height: $card-height-mobile;
      }
    @media (min-width: 1300px){
        min-height: $card-height-wide;
    }
    
    .info-container {
        // opacity: 0;
        transition: opacity 600ms linear; 
        visibility: hidden;      
      }
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: cover;
      object-position: 0px 0px;
      position: absolute;
      top: -1px;
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(46,46,46,1)), to(rgba(46,46,46,0))); 
      mask-image: linear-gradient(to bottom, rgba(46,46,46,1), rgba(46,46,46,0));
    }

  }
}

$i: 0;
@for $i from 0 through 29 {
    .cards-slider.active-slide-#{$i} #card-#{$i} {
      opacity: 1;
      // margin-top: 20px;
      width: 675px;
      max-height: 350px;
      position: relative;
      transform: scale(1.2);
      // background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 255));
      // border: 2px solid green;
      @media (max-width: $breakpoint-iphonex){
        // margin-top: 100px;
        width: $card-width-mobile;
        min-height: $card-height-mobile;
      }
      @media (min-width: 376px){
        width: $card-width-medium;
        min-height: $card-height-medium;
      }
      @media (min-width: 1300px){
        width: $card-width-wide;
        min-height: $card-height-wide;
      }
      Button{
        visibility: visible;
        color: black;
        position: absolute;
        top: -20px;
        right: -20px;
        transform: scale(.75);
        @media (max-width: $breakpoint-iphonex){ //For some reason this is being contained by the card-slider-wrapper div
          position: absolute;
          top: -21px;
          //right: 10px DOESN'T WORK
          left: 73%;
          transform: scale(.7);
        }
        @media (min-width: 376px){
          position: absolute;
          top: -6%;
          left: 68%;
          transform: scale(.8);
        }
        @media (min-width: 1300px){
          position: absolute;
          top: -3%;
          //right: 10px DOESN'T WORK
          left: 72%;
          transform: scale(.9);
        }
      }
    
      img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        object-position: 0px 0px;
        
      }
      .mission {
      font-size: 11px;
      line-height: 19px;
      font-family: gotham;
      // font-weight: bold;
      }
      .info-container {
        visibility: visible; 
        width: 100%;
        position: absolute;
        bottom: 0px;
        bottom: 0px;
        height: 100%;
        overflow-y: scroll;
        
        // border: 3px solid red;
        // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(226, 226, 226, 0)), color-stop(1, rgba(226, 226, 226, 1)));
        
      }
      .info {
        padding: 25px;
        position: absolute;
        // bottom: 0px;
        top: 40%;
        @media (max-width: $breakpoint-iphonex){
          position: absolute;
          top: 25%;
          overflow-y: scroll;   
        }
        p{
          font-size: 14px;
        }
        span{
          color: black;
          font-weight: normal;
          margin-left: 5px;
        }
        .title{
          font-size: 28px;
          font-family: 'gotham rounded';
          letter-spacing: -.5px;
          color: rgb(56, 56, 56);
          margin-bottom: 15px;
        }
        .sub{
          color: #17425E;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .mission {
      font-size: 12px;
      line-height: 19px;
      font-family: gotham;
      }
      }
      
    }
}

// .col {
//   height: 264px;
//   position: relative;
//   &:before,
//   &:after {
//       content: '';
//       display: block;
//       width: 50%;
//       border: 2px solid black;
//       height: 120%;
//       background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
//       position: absolute;
//       top: 0;
//       left: 0;
//       z-index: 2;
//   }
//   &:after {
//       left: auto;
//       right: 0;
//       background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
//   }
// }

.cards-slider {
  display: flex;
  position: relative;
  width: 650px;
  height: 600px;
  margin: 0 auto;
  // border: 6px solid pink;
  @media (max-width: $breakpoint-iphonex){
        margin-top: 75px;
        width: $card-width-mobile;
        // max-height: $card-height-mobile;
  }
  @media (min-width: 376px){
        width: $card-width-medium;
        min-height: $card-height-medium;
      }
  @media (min-width: 1300px){
        width: $card-width-wide;
        min-height: $card-height-wide;
  }

  //DONATE BUTTONS
  Button{
    position: relative;
    top: 500px;
    color: white;
    margin-left: 100%;
    transform: scale(1.2);
    // margin-left: 25px;
    @media (max-width: $breakpoint-iphonex){
        position: relative;
        top: 625px;
        left: -20px;
        // right: 100%;
        margin-left: 25px;
        transform: scale(1.25);
    }
    @media (min-width: 376px){
       top: 465px;
        transform: scale(1.45);
        left: -80px;
        margin-left: 150px;
      }
    @media (min-width: 1300px){
        top: 620px;
        transform: scale(1.45);
        left: -50px;
        margin-left: 150px;
    }
  }

  // boder for active property
  &:after {
    content: '';
    display: block;
    width: 100%;
    // height: 30px;
    // outline: 5px solid rgb(0, 82, 105);
    position: absolute;
    top: 0; 
    left: 0;
  }
}

//BUTTONS

.button-scroll-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: -20px;
  width: 100%;
  padding-right: 40%;
  padding-left: 40%;
  @media (max-width: $breakpoint-iphonex){
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 60px;
    margin-bottom: -20px;
  }
  @media (min-width: 376px){
      margin-top: 80px;
      margin-bottom: 20px;
  }
  @media (min-width: 960px){
      margin-top: 10px;
      margin-bottom: 20px;
  }
    

  
}

.button-scroll {
  -webkit-appearance: none; 
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
  height: 50px;
}

.arrow {
  cursor: pointer;
  margin-top: 0px;
  width: 100px;
  // height: 20%;
}

.left {
  transform: scale(1.3);
  position: absolute;
  // left: 40%;
  right: 6%;
  top: 50%;
  z-index: 3;
  @media (min-width: 1530px){
        right: 16%;
        top: 40%;
    }
    @media (max-width: 1529px){
        right: 8%;
        top: 40%;
    }
     @media (min-width: 376px){
        right: 8%;
        top: 47%;
    }
    @media (max-width: 960px){
        right: 4%;
        top: 32%;
    }
}

.right {
  transform: scale(1.3);
  position: absolute;
  left: 6%;
  top: 50%;
  z-index: 3;
  @media (min-width: 1530px){
        left: 15%;
        top: 40%;
    }
  @media (max-width: 1529px){
        left: 8%;
        top: 40%;
    }
  @media (min-width: 376px){
        left: 8%;
        top: 47%;
    }
  @media (max-width: 960px){
        left: 4%;
        top: 32%;
    }
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 8;
  stroke: #a200ff;
}

.left:active polyline {
  stroke-width: 14;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 8;
  stroke: #a200ff;
}

.right:active polyline {
  stroke-width: 14;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

