

.blue-box {
    // border: 2px solid black;
    width: 70%;
    height: 90vh;
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: rgb(7, 160, 137);
    opacity: .7;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0px solid transparent;
  border-bottom: 1000px solid transparent;
  
  border-left: 1000px solid #FBD103;
  position: absolute;
    z-index: -1;
    top: 0;
  opacity: .2;
   
  
}
