// @import './../../../global-styles/card';
// @import './../../../global-styles/img';

$breakpoint-iphonex: 375px;

.card {
  // display: flex;
  // flex-flow: column;
  position: relative;
  // box-sizing: border-box;
  // border: 3px #5b0072 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #000000;
  // padding: 10px;
  // max-width: 220px;
  width: 650px;
  height: 450px;
  text-align: left;
  margin: 0 auto;
  // box-sizing: border-box;
  @media (max-width: $breakpoint-iphonex){
        
        // overflow-y: scroll;
        
      }
  &:hover {
    background-color: #f3f3f3; 
    border-color: #f3f3f3;
  }
      
  // .info {
  //   // border: 3px solid red;
  //   color: rgb(77, 77, 77);
  //   width: 100%;
  //   position: absolute;
  //   opacity: 1;
  //   bottom: 10px;
  //   // top: 0px;
  //   height: 100%;
  //   // padding-top: 25%;
  //   font-size: 18px;
  //   // background: rgb(32, 32, 32);
  //   border-bottom-left-radius: 8px;
  //   border-bottom-right-radius: 8px;
  //   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(226, 226, 226, 0)), color-stop(1, rgba(226, 226, 226, 1)));
    
  // }
  
  
  Button:hover{
      // background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);  
      background: yellow;   
      
  }
  
  
  
  
  
  
  
  
  
  
  
  // .index {
  //   background-color: rgba(0, 0, 0, 0.2);
  //   color: rgb(27, 87, 0);
  //   line-height: 20px;
  //   font-size: 14px;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   display: block;
  //   padding: 0 10px;
  // }
// .price {
  //   margin: 0;
  //   padding: 10px 0; 
  //   font-weight: bold;
  // }
  // .details {
  //   // position: relative;
  //   background: white;
  //   border: 2px solid black;
  // }
  // .features {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   li {
  //     padding-left: 24px;
  //     margin-right: 10px;
  //     display: inline-block;
  //     span {
  //       display: none;
  //     }
  //     &.icon-bed {
  //       // background: url(./assets/bed-left-side.svg) left center;
  //       background-size: auto 100%;
  //       background-repeat: no-repeat;
  //     }
  //     &.icon-bath {
  //       // background: url(./assets/bathtub.svg);
  //       background-size: auto 100%;
  //       background-repeat: no-repeat;
  //     }
  //     &.icon-car {
  //       // background: url(./assets/car-compact.svg); 
  //       background-size: auto 100%;
  //       background-repeat: no-repeat;
  //     }
  //   }
  // }
}

